.author-info {
  width: 20%;
  margin-right: 10px;
  min-width: 150px;
  .author-icon {
    width: 80px;
    height: 80px;
    background-color: lightgray;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .author-name {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  .author-title {
    font-size: 13px;
    font-style: italic;
  }
  .author-quote {
    font-size: 12px;
    font-style: italic;
  }
  .author-social {
    .author-social-item {
      margin: 10px 5px;
      font-size: 13px;
      transition: font-size 0.2s;
      line-height: 16px;
    }
    .author-social-icon {
      margin-right: 4px;
    }
    .author-social-item a:link,
    .author-social-item a:active,
    .author-social-item a:visited,
    .author-social-item a:hover {
      color: black;
      text-decoration: none;
    }
    .author-social-item:hover {
      font-size: 15px;
    }
  }
}
.author-info > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .author-info {
    width: auto;
    text-align: center;
    .author-social {
      .author-social-item {
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 500px) and (max-height: 450px) {
  .author-info {
    .author-icon:not(img) {
      float: left;
      margin-top: 25px;
    }
    .author-name {
      font-size: 14px;
    }
    .author-title {
      font-size: 11px;
    }
    .author-quote {
      font-size: 10px;
    }
    .author-social {
      .author-social-item {
        font-size: 8px;
      }
    }
  }
}
