style(type="text/css").
  .author-info {
    width: 20%;
    margin: 10px;
    min-width: 150px;
  }
  .author-info > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .author-icon {
    width: 80px;
    height: 80px;
    background-color: brown;
    border-radius: 50%;
    margin: auto;
  }
  .author-name {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  .author-title {
    font-size: 13px;
    font-style: italic;
  }
  .author-quote {
    font-size: 12px;
    font-style: italic;
  }
  .author-social-item {
    margin: 10px 5px;
    font-size: 13px;
    transition: font-size 0.2s;
    line-height: 16px;
  }
  .author-social-icon {
    margin-right: 4px;
  }
  .author-social-item a:link,
  .author-social-item a:active,
  .author-social-item a:visited,
  .author-social-item a:hover {
    color: black;
    text-decoration: none;
  }
  .author-social-item:hover {
    font-size: 15px;
  }

  @media screen and (max-width: 500px) {
    .author-info {
      width: auto;
      text-align: center;
    }
    .author-social-item {
      display: inline;
    }
  }
