header(class="author-info")
  div(class="author-icon")
    img(class="author-icon" src="assets/images/bio-photo.jpg")
  div(class="author-name") Chris Luna
  div(class="author-title")
    span Software Engineer, Bioinformatics
    br/
    span Web Technologies Fanboy
  div(class="author-quote")
    span 'To really know. That is, to be transformed by what one knows.'
    br/
    span - The Song of The Bird
  div(class="author-social")
    div(class="author-social-item")
      i(class="author-social-icon fa fa-envelope" aria-hidden="true")
      a(href="mailto:mycql04@gmail.com") Email
    div(class="author-social-item")
      i(class="author-social-icon fa fa-linkedin-square" aria-hidden="true")
      a(href="http://linkedin.com/in/cqluna") LinkedIn
    div(class="author-social-item")
      i(class="author-social-icon fa fa-twitter-square" aria-hidden="true")
      a(href="http://twitter.com/@mycql") Twitter
    div(class="author-social-item")
      i(class="author-social-icon fa fa-github" aria-hidden="true")
      a(href="http://github.com/mycql") Github
