section(class="author-resume")
  section(class="author-about")
    h3 About Me
    div(class="author-about-content")
      each summary in about.summary
        p #{summary}
      p I live to learn.
        a(href="https://twitter.com/hashtag/juniordevforlife") #juniordevforlife
  section(class="author-experience")
    h3 Experience
    each experience in experiences
      div(class="author-experience-item")
        div(class="author-experience-icon")
          img(class="author-experience-icon" src='assets/images/bio-photo.jpg')
        span #{experience.summary}
  section(class="author-skills")
    h3 What I can do
