style(type="text/css").
  .author-resume {
    font-size: 14px;
  }
  .author-about-content {
    font-size: 14px;
  }
  .author-about-content a {
    color: black;
    font-weight: bold;
    text-decoration: unset;
  }
  .author-experience-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: pink;
  }
