@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  ::selection {
    background-color: lightgray;
  }
}

main {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  margin: 10px;
  margin-right: 0;
}
footer {
  font-size: 13px;
  text-align: right;
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }
}
